* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: #f2f0f1; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr repeat(7, minmax(min-content, 16rem)) 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
  z-index: 100; }

.first-nav {
  grid-column: 7 / 10;
  grid-row: 1 / 2; }
  .first-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
  .first-nav-item {
    list-style: none; }
  .first-nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1.8rem;
    transition: all 0.3s; }
    .first-nav-link:hover {
      color: #999999; }

.second-nav {
  grid-column: 3 / 8;
  grid-row: 3 / 4; }
  .second-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
  .second-nav-item {
    list-style: none; }
  .second-nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1.8rem;
    transition: all 0.3s; }
    .second-nav-link:hover {
      color: #999999; }

.slideshow {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  position: relative;
  width: 100%;
  height: 80vh; }
  .slideshow-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    visibility: hidden;
    opacity: 0;
    animation: slideshow 20s linear infinite; }
    .slideshow-slide img {
      width: inherit;
      height: inherit;
      object-fit: cover; }
  .slideshow-content {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 6rem;
    left: 6rem;
    max-width: 40rem;
    padding: 5rem; }
    .slideshow-content h2 {
      font-size: 4.2rem;
      color: #333; }
    .slideshow-content p {
      margin: 1rem 0;
      font-size: 1.8rem; }

.slideshow-slide:nth-child(1) {
  animation-delay: 0s; }

.slideshow-slide:nth-child(2) {
  animation-delay: 4s; }

.slideshow-slide:nth-child(3) {
  animation-delay: 8s; }

.slideshow-slide:nth-child(4) {
  animation-delay: 12s; }

.slideshow-slide:nth-child(5) {
  animation-delay: 16s; }

@keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0; }
  2% {
    visibility: visible;
    opacity: 1; }
  18% {
    visibility: visible;
    opacity: 1; }
  20% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: hidden;
    opacity: 0; } }

.products {
  grid-column: 1 / -1;
  grid-row: 3 / 4; }
  .products-heading {
    margin: 5rem 0; }
    .products-heading-text {
      text-align: center;
      font-size: 4.5rem;
      font-weight: 300;
      color: #333; }
  .products-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }

.product {
  position: relative; }
  .product:hover .product-description {
    opacity: 1;
    visibility: visible; }
  .product:hover .product-img {
    opacity: .5; }
  .product-img {
    width: 100%;
    transition: all 1s .5s; }
  .product-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border: 0.1rem solid #333;
    border-radius: .5rem;
    color: #333;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 1s .5s; }
    .product-description-heading {
      font-size: 3rem; }
    .product-description-price {
      font-size: 2.5rem;
      font-weight: 300;
      margin: 1rem 0; }
      .product-description-price span {
        font-weight: 600; }
    .product-description-btn {
      font-size: 1.6rem;
      text-decoration: none;
      color: #f5b149;
      display: block;
      padding: .5rem;
      border: 0.1rem solid #f5b149;
      background-color: #737373; }

.products-btn {
  display: flex;
  justify-content: center;
  align-items: center; }

.dropdown-li {
  position: relative; }
  .dropdown-li::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold; }
  .dropdown-li:hover .dropdown {
    visibility: visible;
    opacity: 1; }

.dropdown {
  position: absolute;
  top: 3rem;
  right: -2.8rem;
  width: 10rem;
  background-color: #e6e2e4;
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s; }
  .dropdown-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
  .dropdown-item {
    list-style: none; }
  .dropdown-link {
    color: #333;
    text-decoration: none;
    font-size: 1.8rem;
    transition: all 0.3s; }
    .dropdown-link:hover {
      color: #999999; }
  .dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 7.3 rem;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e6e2e4;
    border-left: 15px solid transparent; }
  .dropdown-item {
    margin: 0.5rem 0; }
  .dropdown-link {
    font-weight: 300;
    font-size: 1.6rem; }

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem; }
  .logo-img {
    width: 10rem;
    height: 100%; }

.heading {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
  text-align: center; }
  .heading-text {
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    font-weight: lighter;
    letter-spacing: 0.5rem; }

.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .btn:hover .btn-bg {
    width: 18rem; }
  .btn:hover .btn-text {
    color: #fff; }
  .btn:hover .arrow {
    transform: translateX(1rem); }
  .btn:hover .arrow-line-1 {
    width: 2rem; }
  .btn-bg {
    width: 4rem;
    height: 4rem;
    background-color: #333;
    border-radius: 5rem;
    position: absolute;
    left: 0; }
  .btn-text {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #333;
    z-index: 10; }
  .btn .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; }
    .btn .arrow-line {
      height: .2rem;
      background-color: #fff;
      position: absolute;
      transform-origin: right; }
    .btn .arrow-line-1 {
      width: 0;
      transform: translateX(-0.7rem);
      transition: width .2s; }
    .btn .arrow-line-2 {
      width: 1rem;
      transform: rotateZ(45deg); }
    .btn .arrow-line-3 {
      width: 1rem;
      transform: rotateZ(-45deg); }
