.products {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    &-heading {
        margin: 5rem 0;

        &-text {
            text-align: center;
            font-size: size(lg) + 2rem;
            font-weight: 300;
            color: color(primary);
        }
    }

    &-wrapper {
        @include flexPosition;
    }
}

.product {
    position: relative;

    &:hover .product-description{
        opacity: 1;
        visibility: visible;
    }

    &:hover .product-img {
        opacity: .5;
    }

    &-img {
        width: 100%;
        transition: all 1s .5s;
    }

    &-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparentize(color(secondery), .4);
        padding: 2rem;
        border: .1rem solid color(primary);
        border-radius: .5rem;
        color: color(primary);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 1s .5s;

        &-heading {
            font-size: size(xl);
        }

        &-price {
            font-size: size(lg);
            font-weight: 300;
            margin: 1rem 0;

            span {
                font-weight: 600;
            }
        }

        &-btn {
            font-size: size(xs);
            text-decoration: none;
            color: color(quaternary);
            display: block;
            padding: .5rem;
            border: .1rem solid color(quaternary);
            background-color: lighten(color(primary), 25%);
        }
    }
}

.products-btn {
    @include flexPosition
}